#logomarca{
    height: 400px;
    margin: auto;
    margin-top: 20px;

}
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

#painelRastreio, #conteiner{
    background-image: linear-gradient(to right, #FFA07A, #FFC107);
    padding-top: 100px;
    padding-bottom: 100px;

}
#codigo_produto{
    width: 500px;
    height: 50px;
    border-radius: 30px 0px 0px 30px;
    text-align: center;
    border: none;
    font-size: 20px;

}
#bntPesquisar{
    border-radius: 0px 30px 30px 0px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: black;
    color: white;

}
#resultado{
    min-height: 400px;
    font-size: 22px;
    margin-top: 40px;

    
}
.atualizacao{
    height: 130px;
    width: 600px;
    background-image: linear-gradient(60deg, #7d7d7d, #d2d2d2);
    border-left: 5px solid black;
    margin: auto;
    margin-bottom:40px;
    text-align: left;
    padding: 20px;
}
.tipo{
    font-size: 30px;
    font-weight: 900;
}
.data_hora{
    font-style: italic;
    font-size: 20px;

}
.locais{
    font-size: 25px;

}

/**/
#conteiner input{
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    font-size: 10px;
    margin-right: 100px;
}
#conteiner select{
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    font-size: 10px;
    margin-right: 100px;
}
#bntCadratra{
    width: 200px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    margin-right: 100px;
}